# IntelliJ project directory
/.idea

# IntelliJ project files
*.iml

# AWS SAM build directory
.aws-sam

# Maven build directory
target/

# Gradle cache and build directories
.gradle/
build/

# JarHC cache
.jarhc/

# files with local environment configurations
gradle.user.properties

# Misc
.DS_Store
