# IntelliJ project directory
/.idea

# IntelliJ project files
*.iml

# AWS SAM build directory
.aws-sam

# Maven build directory
target/

# files with local environment configurations
set-env.sh

# Misc
.DS_Store
