.Header-Row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.Header-Title-Line-1 {
	font-size: 8em;
	font-weight: bold;
	line-height: 1em;
}

.Header-Title-Line-2 {
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
}

.Header-Logo-Box {

}
